$sm: 768px;
$md: 1200px;
$lg: 1440px;
$xl: 1600px;

$font-family-base: Arial, Helvetica, sans-serif;
$font-family-heading: $font-family-base;
$font-size-base: 14px;

$grid-gutter-width: 3rem;

$order-tracker-width: 25vw;

$transition-duration-base: 0.175s;
$transition-duration-long: 0.3s;
$transition-bezier: ease-in-out;

$body-bg: #26282a;
$body-color: #fff;
